
/* ====== header ====== */
.header {
  position: relative;
  width: 100%;
  height: 80px;
}
.header-bg {
  width: 100%;
  height: 80px;
  background-color: black;
  background-attachment: fixed;
}
.header-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 48px;
}
.header-top .container {
  width: 1248px;
  margin: 0 auto;
}

.header-nav {
  float: left;
  padding: 10px 22px 0 20px;
}
.header-nav .item {
  float: left;
  line-height: 28px;
  margin-right: 26px;
  font-size: 22px;
  margin-top: 17px;
  color: rgba(255, 255, 255, .85);
}
.header-nav .item-cur,
.header-nav .item:hover {
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.header-nav .new-icon {
  position: relative;
  margin-right: 20px;
}
.header-nav .new-icon i {
  display: inline-block;
  width: 30px;
  height: 14px;
  margin-left: 7px;
  margin-bottom: 4px;
  vertical-align: middle;
}
.header-nav .nav-more__hover {
  display: none;
  position: absolute;
  z-index: 999;
  left: 270px;
  top: 60px;
  width: 310px;
  height: 270px;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0,.2);
}
.header-nav .nav-more__hover .wrapper {
  padding: 0 20px;
}
.header-nav .nav-more__hover .top-part {
  height: 54px;
  line-height: 54px;
  font-size: 0;
}
.header-nav .nav-more__hover .top-part a,
.header-nav .nav-more__hover .middle-part a,
.header-nav .nav-more__hover .bottom-part a {
  display: inline-block;
}
.header-nav .nav-more__hover .top-part a {
  font-size: 16px;
  color: #222;
  font-weight: 700;
}
.header-nav .nav-more__hover .top-part a:nth-child(1),
.header-nav .nav-more__hover .top-part a:nth-child(2) {
  width: 100px;
}
.header-nav .nav-more__hover .top-part a:hover {
  color: #c90000;
}
.header-nav .nav-more__hover .middle-part {
  padding: 16px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 0;
}
.header-nav .nav-more__hover .middle-part a {
  width: 50%;
  line-height: 26px;
  font-size: 14px;
}
.header-nav .nav-more__hover .middle-part b {
  font-weight: 700;
}
.header-nav .nav-more__hover .bottom-part {
  position: relative;
  padding-top: 8px;
  padding-left: 30px;
  font-size: 0;
}
.header-nav .nav-more__hover .bottom-part .pin-icon {
  position: absolute;
  left: 0px;
  top: 8px;
  width: 26px;
  height: 26px;
  background-position: 7px -302px;
  border: 1px solid #ededed;
}
.header-nav .nav-more__hover .bottom-part .pin-icon:hover {
  background-position: -43px -302px;
}
.header-nav .nav-more__hover .bottom-part a {
  line-height: 28px;
  margin: 0 8px;
  color: #999;
  font-size: 14px;
}
.header-nav .nav-more__hover .bottom-part span {
  display: inline-block;
  line-height: 28px;
  color: #999;
  font-size: 14px;
}
.header-user {
  float: right;
  margin-top: 8px;
}
.header-user .register,
.header-user .login {
  float: left;
  width: 52px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  margin-left: 10px;
  color: #fff;
  border-radius: 2px;
}
.header-user .register:hover,
.header-user .login:hover {
  text-decoration: none;
}
.header-user .register {
  background-color: rgba(201,0,0,.6);
  border: 1px solid transparent;
}
.header-user .register:hover {
  background-color: rgba(201,0,0,.9);
}
.header-user .login {
  border: 1px solid rgba(255, 255, 255, .8);
  box-sizing: border-box;
}
.header-user .login:hover {
  color: #444;
  background-color: #fff;
}
.header-top .search {
  position: absolute;
  display: none;
  left: 438px;
  top: 8px;
}
.header-top .search-text {
  width: 527px;
  height: 34px;margin-left: 400px;
  line-height: 34px;
  border: 1px solid #ddd;
  background-color: #fafafa;
}
.header-top .search-text:hover {
  border-color: #bbb;
  background-color: #fff;
}
.header-top .search-btn {
  width: 32px;
  height: 32px;
  background-position: 5px -93px;
}
.header .search-btn:hover {
  background-position: -45px -93px;
}
.header-top__fixed {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  background-color: #fff;
}
.header-top__fixed .header-nav .item {
  color: #333;
}
.header-top__fixed .header-nav .item-cur,
.header-top__fixed .header-nav .item:hover {
  color: #c90000;
}
.header-top__fixed .nav-more {
  background-position: 0 -248px;
}
.header-top__fixed .header-user .register {
  background: linear-gradient( #E53E49, #D43636);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.08),0 1px 0 rgba(255,255,255,.3);
}
.header-top__fixed .header-user .register:hover {
  background: linear-gradient( #F45D68, #E54646);
}
.header-top__fixed .header-user .login {
  color: #333;
  background: linear-gradient( #FAFAFA, #F2F2F2);
  border-color: #D9D9D9;
}
.header-top__fixed .header-user .login:hover {
  background: linear-gradient(#FFF, #F7F7F7);
  border-color: #ccc;
}
.header-top__fixed .search {
  display: block;
}
