<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
   
      <context:component-scan base-package="com.aldrich.*"/>
   <!-- <import resource="spring-mybatis.xml"/>-->
    <!-- 缓存管理器开始 -->
   <!-- <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManager" ref="ehCacheManager"/>
    </bean>
    <bean id="ehCacheManager" class ="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml" />
        <property name="shared" value="true"/>
    </bean>-->

    <!-- 缓存管理器 使用Ehcache实现 -->
   <!-- <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml"/>
    </bean>-->

    <!-- 自定义Realm -->
    <bean id="myRealm" class="com.aldrich.realm.MyRealm">
        <property name="cachingEnabled" value="true"/>
        <property name="authenticationCachingEnabled" value="true"/>
        <property name="authenticationCacheName" value="authenticationCache"/>
        <property name="authorizationCachingEnabled" value="true"/>
        <property name="authorizationCacheName" value="authorizationCache"/>
        <!--加密-->
        <property name="credentialsMatcher">
            <bean id="credentialsMatcher" class="com.aldrich.realm.RetryLimitHashedCredentialsMatcher">
                <constructor-arg ref="shiroCacheManager"/>
                <!-- 加密算法为MD5 -->
                <property name="hashAlgorithmName" value="MD5"/>
                <!-- 加密次数 -->
                <property name="hashIterations" value="1024"/>
                <property name="storedCredentialsHexEncoded" value="true" />
            </bean>
        </property>

    </bean>


    <!-- 配置 Shiro 的 SecurityManager Bean. -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- 注入缓存管理器-->
        <property name="cacheManager" ref="shiroCacheManager" />

        <property name="realm" ref="myRealm"/>
    </bean>


    <!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>


    <!-- 第三步：把请求路径拦截之后的处理 -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <!--shiro整个的处理，都由securityManger指定和决定 -->
        <property name="securityManager" ref="securityManager" />

        <!-- 身份认证失败，则跳转到登录页面的配置 -->
        <property name="loginUrl" value="noPower" />

        <!-- 验证通过执行的请求或者跳转 -->
        <property name="successUrl" value="start/system" />

        <!-- 验证不通过执行的请求或者跳转 -->
        <property name="unauthorizedUrl" value="start/noPower" />


        <property name="filterChainDefinitions">
            <value>
                <!--静态资源可以匿名访问 -->
                /assets/** = anon
                /assets/graceful/images/conts/** = anon
                /logout = logout
                <!--任何链接都可以不认证访问-->
                /login.jsp = anon
                /user/login = anon
                /resources/** = anon
                /success.jsp = roles[user]
                /start/system= anon
               <!-- /** = authc-->
                /druid/datasource.html= anon
                /** = anon
            </value>
        </property>
    </bean>


    <!--记住我-->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <!-- rememberMe cookie加密的密钥 建议每个项目都不一样 默认AES算法 密钥长度（128 256 512 位） -->
        <property name="cipherKey"
                  value="#{T(org.apache.shiro.codec.Base64).decode('4AvVhmFLUs0KTA3Kprsdag==')}" />
        <property name="cookie" ref="rememberMeCookie" />
    </bean>


    <!--Cookie管理-->
    <bean id="rememberMeCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="rememberMe" />
        <property name="httpOnly" value="true" />
        <property name="maxAge" value="2592000" /><!-- 30天 -->
    </bean>


</beans>

