<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aldrich.mapper.ShortReadingMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache" flushInterval="60000" readOnly="true">
        <property name="timeToIdleSeconds" value="3600"/>
        <property name="timeToLiveSeconds" value="3600"/>
        <property name="maxEntriesLocalHeap" value="1000"/>
        <property name="maxEntriesLocalDisk" value="10000000"/>
        <property name="memoryStoreEvictionPolicy" value="LRU"/>
    </cache>
    <resultMap id="ShortReading" type="com.aldrich.model.ShortReading">
        <id column="id" property="id"/>
        <result column="article" property="article"/>
        <result column="topic" property="topic"/>
        <result column="selectA" property="selectA"/>
        <result column="selectB" property="selectB"/>
        <result column="selectC" property="selectC"/>
        <result column="selectD" property="selectD"/>
    </resultMap>
    <select id="getAllShortReading" resultType="com.aldrich.model.ShortReading" parameterType="map">
        select * from  shortreading limit #{pi},#{ps}
    </select>
    <select id="getAllShortReading" resultType="com.aldrich.model.ShortReading">
        select * from  shortreading
    </select>
    <select id="getLimitShortReading" resultType="com.aldrich.model.ShortReading" parameterType="map">
        select * from  shortreading limit #{pageIndex},#{pageSize}
    </select>
    <select id="getAllPage" resultType="integer">
        select count(*) from shortreading
    </select>
    <insert id="AddShortReading" parameterType="com.aldrich.model.ShortReading">
        insert into shortreading (article, topic, selectA, selectB, selectC, selectD, answer, parsing)
        value (#{article},#{topic},#{selectA},#{selectB},#{selectC},#{selectD},#{answer},#{parsing})
    </insert>
    <select id="getByIdShortReading" parameterType="java.lang.Integer" resultType="com.aldrich.model.ShortReading">
          select * from shortreading where id=#{id}
    </select>
    <update id="UpdateAddShortReading" parameterType="com.aldrich.model.ShortReading">
        update shortreading
        set article=#{article},topic=#{topic},
         selectA=#{selectA},selectB=#{selectB},
         selectC=#{selectC},selectD=#{selectD},
         answer=#{answer},parsing=#{parsing}
        where id=#{id};
    </update>
    <delete id="deleteShortReadingById" parameterType="java.lang.Integer">
        delete from shortreading where id=#{id}
    </delete>
</mapper>